
/* 标签选择器 */
button {
    font-size: 30pt; /* pt基本不使用了 */
    height: 100px;
    width: 25%;
}

/* ID选择器 */
#title {
    position: absolute;
    right: 5%;
    bottom: 2.5%;
    font-size: 40pt;
    font-weight: bold;
}

/* ID选择器 */
#num {
    font-size: 30pt;
}